# Base Python utils
rich>=13.7.0             # jolis affichages en console
typer>=0.12.3            # CLI moderne (à la place d'argparse)
pydantic>=2.7.1          # validation et gestion de la config
python-dotenv>=1.0.1     # chargement des fichiers .env

# IA / math / manipulation
numpy>=1.26.4
pandas>=2.2.2
scikit-learn>=1.5.0
matplotlib>=3.9.0
statsmodels>=0.14.0

# Logging & debug
loguru>=0.7.2